*{
  font-family: Arial, Helvetica, sans-serif;
}
.App {
  text-align: center;
}
h1{
text-align: center;
  color : #001831;
}
.App-header {
  background: linear-gradient(#e66465, #9198e5); 
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  font-size: small;
  color: rgb(0, 0, 0);
}
.center{
  display:block;
  background-color: rgba(255, 255, 255, 0.226);
}
.filter-btn-done{

  float: right;
  line-height :25px;
  color: black;
  background-color: green;
  border:  solid 0.5px black;
  border-radius: 10px;
}
.filter-btn-del{
  float: right;
  line-height :25px;
  color: black;
  border:  solid 0.5px black;
  border-radius: 10px;
  margin-left: 10px;
  background: transparent;

}
.filter-btn-edit{
  float: right;
  line-height :25px;
  color: black;
  /* background-color: rgb(94, 21, 122); */
  background: transparent;
  border: black 0.5px solid;
  border-radius: 10px;
  margin-left: 10px;
}
.list-items{
  display: inline-block;
  width:400px;
}
.btns-right{
  left :200px;
  float: right;
}
.lis{
  display: inline;
  height: 30px;
  width: 70%;
  margin-right: 50px;
}
.input-bar{
  font-size: medium;
  margin: 20px;
  height: 25px;
  padding: 5px ;
  width: 400px;
  border-radius: 10px;
  border: black 0.5px solid;
  background: transparent;
}
.btn{
  height: 35px;
  width: 80px;
  margin: 20px;
  color: white;
  background-color: rgba(103, 17, 216, 0.253);
  border: black 0.5px solid;
  border-radius: 10px;
}
.btn:hover{
  border:  solid 2px white;
}
.filter-btn-del:hover{
  border:  solid 2px white;
}
.filter-btn-done:hover{
  border:  solid 2px white;
}
.filter-btn-edit:hover{
  border:  solid 2px white;
}
li{
  margin: 10px;
}
